### NetBeans ###

nbproject/private/
nbproject/ant-deploy.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
atdd/ui/log.html
atdd/ui/output.xml
atdd/ui/report.html